.simulador-container {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 auto; */
}

/* input[type="range"] {
  appearance: none;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    #ddd 10%,
    #ddd 100%
  );
} */

.input-container {
  width: 40%;
}

.grafico-container {
  width: 40%;
}

.input-wrapper {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.grafico-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.barra-poupanca,
.barra-lci {
  width: 40px;
  background-color: #4caf50;
  position: relative;
}

.barra-poupanca {
  background-color: #2196f3;
}

.valor-retorno {
  position: absolute;
  bottom: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
}
