<div class="simulador-container">
  <div class="input-container">
    <div class="input-wrapper">
      <label for="valor">
        Valor do Investimento:
        {{
          converterSliderParaValor(valorInvestimento)
            | currency : "BRL" : "symbol" : "1.2-2"
        }}
      </label>
      <input
        class="range-bar"
        type="range"
        id="valor"
        [(ngModel)]="valorInvestimento"
        min="1"
        max="29"
        step="1"
        (input)="calcularRetorno()"
      />
    </div>

    <div class="input-wrapper">
      <label for="tempo">
        Tempo de Investimento: {{ tempoInvestimentoExibido }}
      </label>
      <input
        class="range-bar"
        type="range"
        id="tempo"
        [(ngModel)]="tempoInvestimento"
        min="1"
        max="16"
        step="1"
        (input)="calcularRetorno()"
      />
    </div>
  </div>

  <div class="grafico-container">
    <div class="barra-poupanca" [ngStyle]="{ 'height.px': 100 }">
      <div class="valor-retorno">
        {{ valorTotalPoupanca | currency : "BRL" : "symbol" : "1.2-2" }}
      </div>
    </div>
    <div class="barra-lci" [ngStyle]="{ 'height.px': alturaLCI }">
      <div class="valor-retorno">
        {{ valorTotalLCI | currency : "BRL" : "symbol" : "1.2-2" }}
      </div>
    </div>
  </div>
</div>
